In [1]:
import pandas as pd
import re

In [2]:
BOARD_NAMES_SOURCE = './sources/board_names.xlsx'
JOURNALS_DB_SOURCE = './sources/SIOE_ARTICLES_1998_2019_source.xlsx'
JOURNALS_DB_BOARD_SOURCE = './sources/BOARD_SIOE_ARTICLES_1998_2019_source.xlsx'

In [3]:
df_board = pd.read_excel(BOARD_NAMES_SOURCE)

In [4]:
df_board.head(2)

       name_complete
0       Ronald COASE
1  Douglass C. NORTH

In [5]:
get_clean_mane = lambda x: f'{x.split()[-1]}, {" ".join(x.split()[:-1])}'

In [6]:
df_board['name'] = df_board.name_complete.apply(get_clean_mane)

In [7]:
df_board.head(2)

       name_complete                name
0       Ronald COASE       COASE, Ronald
1  Douglass C. NORTH  NORTH, Douglass C.

In [8]:
names = list(df_board['name'])

In [9]:
names[:3]

['COASE, Ronald', 'NORTH, Douglass C.', 'NORTH, Douglass']

In [10]:
def contains_a_member(my_string):
    return 1 if any(re.search(r"\b" + re.escape(name) + r"\b", my_string, flags=re.IGNORECASE) for name in names) else 0

In [11]:
df_articles = pd.read_excel(JOURNALS_DB_SOURCE)

In [12]:
df_articles.head(2)

,id,review,year,accept,title,jel,keywords,abstract,authors,affiliations,jel_clean
0,4420,American Economic Review,2019,NaN,"(Mis)Allocation, Market Power, and Global Oil ...","['D24', 'F23', 'L13', 'L71', 'Q35']",Cost; Crude Oil; Oil; Production,We propose an approach to measuring the misall...,"Asker, John; Collard-Wexler, Allan; De Loecker...",Columbia U; Duke U; Katholieke Universiteit Le...,"['D24', 'F23', 'L13', 'Q35']"
1,4405,American Economic Review,2019,NaN,A Macroeconomic Model of Price Swings in the H...,"['E44', 'G21', 'R31']",Credit; Finance; Financial Market; Housing; Ma...,This paper shows that a macro model with segme...,"Garriga, Carlos; Manuelli, Rodolfo; Peralta-Al...",Federal Reserve Bank of St Louis; Washington U...,"['E44', 'G21', 'R31']"

In [13]:
df_articles['is_board'] = df_articles.authors.apply(contains_a_member)

In [14]:
df_articles.head(2)

,id,review,year,accept,title,jel,keywords,abstract,authors,affiliations,jel_clean,is_board
0,4420,American Economic Review,2019,NaN,"(Mis)Allocation, Market Power, and Global Oil ...","['D24', 'F23', 'L13', 'L71', 'Q35']",Cost; Crude Oil; Oil; Production,We propose an approach to measuring the misall...,"Asker, John; Collard-Wexler, Allan; De Loecker...",Columbia U; Duke U; Katholieke Universiteit Le...,"['D24', 'F23', 'L13', 'Q35']",0
1,4405,American Economic Review,2019,NaN,A Macroeconomic Model of Price Swings in the H...,"['E44', 'G21', 'R31']",Credit; Finance; Financial Market; Housing; Ma...,This paper shows that a macro model with segme...,"Garriga, Carlos; Manuelli, Rodolfo; Peralta-Al...",Federal Reserve Bank of St Louis; Washington U...,"['E44', 'G21', 'R31']",0

In [15]:
len(df_articles)

22263

In [16]:
df_board_articles = df_articles[df_articles.is_board == 1]

In [17]:
len(df_board_articles)

332

In [18]:
df_board_articles.to_excel(JOURNALS_DB_BOARD_SOURCE)