In [1]:
import pandas as pd
import re
import ast
import datetime

In [2]:
CURSOR = 8
JOURNALS_DB_BOARD_SOURCE = './sources/BOARD_SIOE_ARTICLES_1998_2019_source.xlsx'
ARTICES_SELECT = f'./output/SIOE_journals_1998_2019_{CURSOR}_2020-04-30.xlsx'
ARTICES_SELECT_OUTPUT = f'./output/select/SIOE_journals_1998_2019_{CURSOR}.pickle'

In [3]:
df_articles_board = pd.read_excel(JOURNALS_DB_BOARD_SOURCE)

In [4]:
df_articles_board.head(2)

,Unnamed: 0,id,review,year,accept,title,jel,keywords,abstract,authors,affiliations,jel_clean,is_board
0,349,4118,American Economic Review,2017,NaN,Relational Knowledge Transfers,"['D82', 'D86', 'J24', 'M53']",Apprenticeship; Contracts; Human Capital; Trai...,We study how relational contracts mitigate Bec...,"Garicano, Luis; Rayo, Luis","IE Business School, Madrid and London School o...","['D82', 'D86', 'J24', 'M53']",1
1,375,4132,American Economic Review,2017,NaN,Team Incentives and Performance: Evidence from...,"['D22', 'J31', 'J33', 'L25', 'L81', 'M53', 'M54']",Bonus; Retail; Team; Wage,"In a field experiment with a retail chain (1,3...","Friebel, Guido; Heinz, Matthias; Krueger, Miri...","Goethe U Frankfurt and IZA, Bonn; U Cologne; D...","['D22', 'J31', 'J33', 'L25', 'M53', 'M54']",1

In [5]:
len(df_articles_board)

332

In [6]:
ids_board = list(df_articles_board.id)

In [7]:
df_articles = pd.read_excel(ARTICES_SELECT)

In [8]:
df_articles.head(2)

,id,review,year,accept,title,jel,keywords,abstract,authors,affiliations,jel_clean
0,4420,American Economic Review,2019,NO,"(Mis)Allocation, Market Power, and Global Oil ...","['D24', 'F23', 'L13', 'L71', 'Q35']",Cost; Crude Oil; Oil; Production,We propose an approach to measuring the misall...,"Asker, John; Collard-Wexler, Allan; De Loecker...",Columbia U; Duke U; Katholieke Universiteit Le...,"['D24', 'F23', 'L13', 'Q35']"
1,4405,American Economic Review,2019,NO,A Macroeconomic Model of Price Swings in the H...,"['E44', 'G21', 'R31']",Credit; Finance; Financial Market; Housing; Ma...,This paper shows that a macro model with segme...,"Garriga, Carlos; Manuelli, Rodolfo; Peralta-Al...",Federal Reserve Bank of St Louis; Washington U...,"['E44', 'G21', 'R31']"

In [9]:
len(df_articles[df_articles.accept != 'NO'])

10586

In [10]:
def selectArticles(row):
    return True if row.accept != 'NO' or row.id in ids_board else False

In [11]:
df_articles['select'] = df_articles.apply(selectArticles, axis = 1)

In [12]:
df_articles.head(2)

,id,review,year,accept,title,jel,keywords,abstract,authors,affiliations,jel_clean,select
0,4420,American Economic Review,2019,NO,"(Mis)Allocation, Market Power, and Global Oil ...","['D24', 'F23', 'L13', 'L71', 'Q35']",Cost; Crude Oil; Oil; Production,We propose an approach to measuring the misall...,"Asker, John; Collard-Wexler, Allan; De Loecker...",Columbia U; Duke U; Katholieke Universiteit Le...,"['D24', 'F23', 'L13', 'Q35']",False
1,4405,American Economic Review,2019,NO,A Macroeconomic Model of Price Swings in the H...,"['E44', 'G21', 'R31']",Credit; Finance; Financial Market; Housing; Ma...,This paper shows that a macro model with segme...,"Garriga, Carlos; Manuelli, Rodolfo; Peralta-Al...",Federal Reserve Bank of St Louis; Washington U...,"['E44', 'G21', 'R31']",False

In [13]:
df_articles_select = df_articles[df_articles['select'] == True]

In [14]:
len(df_articles_select)

10683

In [15]:
df_articles_select.head(2)

,id,review,year,accept,title,jel,keywords,abstract,authors,affiliations,jel_clean,select
5,4460,American Economic Review,2019,YES,An Economic Analysis of Privacy Protection and...,"['C38', 'C81', 'D83']",NaN,Statistical agencies face a dual mandate to pu...,"Abowd, John M.; Schmutte, Ian M.",US Census Bureau and Cornell U; U of GA,['D83'],True
7,4440,American Economic Review,2019,YES,Auctions with Limited Commitment,"['D44', 'D82']",Auction; Equilibrium,We study the role of limited commitment in a s...,"Liu, Qingmin; Mierendorff, Konrad; Shi, Xianwe...",Columbia U; U College London; U of Toronto; Co...,"['D44', 'D82']",True

In [16]:
# df_articles_select[df_articles_select.accept == 'NO']

In [17]:
df_articles_select = df_articles_select[['id', 'review', 'year', 'title', 'keywords', 'abstract']]

In [18]:
df_articles_select.to_pickle(ARTICES_SELECT_OUTPUT)